h1,
h2,
h3,
h4,
a,
button {
    font-family: "futura";
}

.cover {
    background-image: url("./images/cover\ tras.png");
    background-color: hsl(215, 61%, 10%);
    background-size: cover;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 83px;
}

h1 {
    margin-bottom: 10px;
}

.bg-rosso {
    background-image: url("./images/sfondo\ 1.png");
    background-color: #b32e2e;
    color: white;
    background-size: cover;
}

.bg-blu {
    background-image: linear-gradient(to bottom left, #4181c5, #082032);
    background-color: #1e457c;
    color: white;
}

.bg-green {
    background-image: linear-gradient(to bottom left, #1c1c1c, #22bb33);
}

section {
    padding: 50px 0;
}

.overlay::before {
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 60%;
    height: 200%;
    transform: translate(-50%, -45%);
}

.dati-n {
    margin-bottom: -20px;
}

.microfono {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    padding: 10%;
    display: flex;
    align-items: center;
}

.microfono::before {
    position: relative;
}

.bg-giallo {
    background-color: yellow;
    background-image: radial-gradient(white, #ff8f00);
    background-size: cover;
    color: black;
}

.card-team {
    padding: 10px;
    border: black solid 2px;
    border-radius: 5px;
    margin: 10px;
}

.card-team p {
    margin-bottom: 0px;
}

.elenco li {
    margin: 20px 0px;
    list-style-type: none;
    padding-left: 20px;
}

.elenco .rosso {
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='30' viewBox='0 0 384 512'%3E%3Cstyle%3Esvg{fill:red}%3C/style%3E%3Cpath d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z'/%3E%3C/svg%3E");
}

.elenco .verde {
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='30' viewBox='0 0 448 512'%3E%3Cstyle%3Esvg{fill:rgb(0, 255, 0)}%3C/style%3E%3Cpath d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
}

.lista-frecce div {
    max-width: 300px;
    width: 100%;
    text-align: center;
    margin: 0px auto;
}

.lista-frecce i {
    margin: 5px 15px;
}

.background {
    background-size: cover;
    text-align: center;
}

.faq div {
    border: solid 1px white;
    border-radius: 10px;
    background-color: #fff1;
    margin-top: 30px;
}

.faq p {
    margin-bottom: 0px;
}

.faq li {
    margin: 10px 20px;
}